<html>
<head>
	<title>Choose your opponent</title>
</head>
<body>

	<h2><%= @name%>:</h2>
	<h2>Please choose your duelling opponent</h2>

	<form action = '/holding_page' method = "post">
		<button class = "opponent" name="opponent" value="Computer">He-Who-Must-Not-Be-Named</button>
		<button class = "opponent" name="opponent" value="Opponent">Play Live Wizard Opponent</button>
		<input class = "opponent" type="hidden" name="name" value=<%=@name%>>
	</form>

</body>
</html>