<html>
<head>
	<link href="style.css" rel='stylesheet' type = "text/css">
	<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>


</head>
<body>
	<%=yield%>
<footer>
	<div>
	  The background to this page was sourced from
	  <a href="http://www.myfreetextures.com">www.myfreetextures.com</a>
	</div>
</footer>
</body>


</html>