<html>
<head>
	<title>Registration</title>
</head>
<body>
	<h1>Enter your name into the Goblet of Fire...</h1> 
	<form action="/register" method="POST">
		<input type="text" name="name" placeholder="Enter Name">
		<button>Duel!</button> 
	</form>
</body>
</html>

