<h1>Let's duel></h1>

<form action="/play_game" method="POST">
	<button name="pick" value="Paper">Paper</button>
	<button name="pick" value="Rock">Rock</button>
	<button name="pick" value="Scissors">Scissors</button>
</form>
