<html>
<head>
	<title>Choose your weapon</title>
</head>
<body>
	<h1>Choose your weapon to commence the duel</h1>

	<form action="/play_game" method="POST">
		<button name="pick" value="Potion" class ="weapon">Potion</button>
		<button name="pick" value="Cloak" class ="weapon">Cloak</button>
		<button name="pick" value="Wand" class="weapon">Wand</button>
	</form>

<div id="weapon_holder">
 <div id="potion" class ="weapon-selection"><img src='/images/potion.jpg'></div>
 <div id="cloak" class ="weapon-selection"><img src='/images/cloak.jpg'></div>
 <div id="wand" class ="weapon-selection"><img src='/images/wand.jpg'></div>
 <br style="clear: left;" />
</div>

</body>
</html>


