<html>
<head>
	<title>Choose your weapon</title>
</head>
<body>
	<h1>Choose your weapon to commence the duel</h1>

	<form action="/play_game" method="POST">
		<button name="pick" value="Potion" class ="weapon">Potion</button>
		<button name="pick" value="Cloak" class ="weapon">Cloak</button>
		<button name="pick" value="Wand" class="weapon">Wand</button>
	</form>

	<form action="/play_game" method="POST">
		<div id="weapon_holder">
			<button name="pick" value="Potion" class ="picture"><img src='/images/potion.jpg'></button>
			<button id = "cloak" name="pick" value="Cloak" class ="picture"><img src='/images/cloak.jpg'></button>
			<button name="pick" value="Wand" class="picture"><img src='/images/wand2.jpg'></button>
			<br style="clear: left;" />
		</div>
	</form>


</body>
</html>


